.event-container {
    position: relative; /* Establish stacking context */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 8rem 10rem;
    background: black;
    z-index: -1;
}

.event-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(./../../../assets/where2be-background.webp);
    background-size:cover;
    opacity:.1;
    z-index: -1;  /* Add this line */
}

.event-text-container {
    flex: 1;
    text-align: left;
    color: #EEE
}

.event-text-container h4 {
    font-size: 1.8rem;
    color: #EEE;
}

.event-image-container {
    flex: 1;
}

.icon-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1.5rem;
}

.date-time-container {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
}

.event-title {
    color: #EEE;
    font-size: 6rem;
    font-weight: 600;
    margin: 0 2rem 2rem 0;
}

.description {
    color: #BBB;
    margin-bottom: 1.5rem;
    padding-right: 5rem;
}

.interest {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #9544ff;
}


  .download-text {
    text-align: center;
    padding: 2rem 2rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
@media screen and (max-width: 700px) {
    .event-container {
        flex-direction: column-reverse;
        padding: 0 0 5rem;
    }

    .event-text-container {
        padding: 2rem 2rem;
    }

    .description {
        padding-right: 1rem;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .event-container {
        flex-direction: row;
        padding: 8rem 6rem 5rem;
    }

    .event-text-container h4 {
        font-size: 1.5rem;
    }

    .event-title {
        font-size: 4rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 1120px) {
    .event-container {
        flex-direction: row;
        padding: 8rem 6rem 5rem 10rem;
    }

    .event-text-container h4 {
        font-size: 1.5rem;
    }

    .event-title {
        font-size: 4rem;
    }
}