@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@100;200;300;400;500;600;700;800;900&display=swap");

.redirect_window_container {
  height: 100vh;
  background-color: #fff;
  padding: 20px;
}

.download {
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.download span {
  color: black;
}

.download a {
  font-size: 1em;
  color: blue;
  text-decoration: underline;
}
